@font-face {
  font-family: "Ferrite";
  src: url("assets/FerriteCore-Regular.otf") format("opentype");
}


*{
  font-family: 'Helvetica';
}

.ticker{
  color: rgb(74,246,38);
  background-color: black;
  font-family: Helvetica;
  font-weight: bold;
}


.portfolio{
  margin: auto;
  color:blue;

}
canvas{

}

.is-ancestor{
  flex-wrap: wrap;

}
.tile.is-3.is-parent.box{
  margin-bottom: 1.5rem;
}




.user{
  color:blue;
  animation: pulse 2s infinite linear;
  animation-direction: alternate-reverse;
}
@keyframes pulse {
  from {color: red;
      font-size: 1em;
        }
  to {color: green;
    font-size: 1.5em;}
}

.input{
  width: 50%;
  border: none;
}

.inputBS{
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
}

.logo{
  font-family: 'Ferrite';
  font-size: 3em;
  color: rgba(0,0,0, 0.5);
}

.footer{
  flex-shrink: 0;
  font-family: 'Ferrite';



}


.leadLink{
  font-family: 'Ferrite';
}

.modal-background {
    background-color: rgba(255, 255, 255, 1);
}

.modal-close{
background-color: black;
}

.history{
  cursor: pointer;

}
.portTitle{
  font-family: 'Ferrite';
  font-size:2em;
}
.stats{
  align-items: center;
  flex: auto;
  margin: auto;
  font-size: 1.5em;
  font-weight: bold;
}
