*{
  font-family: Helvetica;
}

.ticker{
  color: rgb(74,246,38);
  background-color: black;
  font-family: Helvetica;
  font-weight: bold;
}


.portfolio{
  margin: auto;
  color:blue;

}
canvas{
  border: 1px solid white;

}

.is-ancestor{
  flex-wrap: wrap;

}
.tile.is-3.is-parent.box{
  margin-bottom: 1.5rem;
}


.stats{

}

.user{
  color:red;
}
